---
import { Code } from 'lucide-react';
---

<header class="py-4 fixed w-full top-0 z-50 transition-colors duration-200" id="main-header">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-2">
        <a href="/" class="flex items-center space-x-2">
          <img src="/Peggy-Headshot.svg" alt="Legesher Logo" class="h-8 w-8">
          <span class="font-bold text-xl">Legesher</span>
        </a>
      </div>
      <nav class="hidden md:flex space-x-6 justify-center">
        <a href="https://github.com/legesher/" class="text-sm font-medium hover:text-primary transition-all duration-300 nav-link">Roadmap</a>
        <a href="https://join.slack.com/t/legesherinc/shared_invite/zt-370xpp6b9-LYxWVIOF7ujVH5kYnwaGbQ" class="text-sm font-medium hover:text-primary transition-all duration-300 nav-link">Community</a>
        <a href="https://docs.legesher.io/" class="text-sm font-medium hover:text-primary transition-all duration-300 nav-link">Docs</a>
        <a href="mailto:hello@legesher.com" class="text-sm font-medium hover:text-primary transition-all duration-300 nav-link">Contact</a>
      </nav>
    </div>
  </div>
</header>

<script src="/scripts/header.js" is:inline></script>